## IMPORT LIBRARIES TO BE USED

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\Dell\AppData\Local\Temp\ipykernel_7348\555797462.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## LOAD DATASET

In [2]:
house_data = pd.read_csv('housing_data.csv')

# Data Exploration

## HEAD

In [3]:
house_data.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,SC20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000

## TAIL

In [4]:
house_data.tail()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1455,SC60,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,SC20,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,SC70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,SC20,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,SC20,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

## NUMBER OF ROWS AND COLUMNS

In [5]:
house_data.shape

(1460, 81)

## DIMENTION OF DATASET

In [6]:
house_data.ndim

2

## INFORMATION  ABOUT DATASET

In [7]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1460 non-null   int64
 1   MSSubClass     1460 non-null   object
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   int64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1460 non-null   int64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1460 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   object
 64  GarageCond     1460 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   object
 73  Fence          1460 non-null   object
 74  MiscFeature    1460 non-null   object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   object
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(1), int64(35), object(45)
memory usage: 924.0+ KB

## SUMMARY OF DATASET

In [8]:
house_data.describe()

,Unnamed: 0,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,729.500000,57.623288,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,443.639726,46.549315,...,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,2007.815753,180921.195890
std,421.610009,34.664304,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,456.098091,161.319273,...,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,1.328095,79442.502883
min,0.000000,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2006.000000,34900.000000
25%,364.750000,42.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2007.000000,129975.000000
50%,729.500000,63.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008.000000,163000.000000
75%,1094.250000,79.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,712.250000,0.000000,...,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2009.000000,214000.000000
max,1459.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,2010.000000,755000.000000

## COLUMNS IN DATA SET

In [9]:
columns = house_data.columns
columns

Index(['Unnamed: 0', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea',
       'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## MSSubClass: Identifies the type of dwelling involved in the sale.

### SC20 =	1-STORY 1946 & NEWER ALL STYLES

In [10]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC20':'1-STORY 1946 & NEWER ALL STYLES'})

In [11]:
house_data

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,SC60,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,SC70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

### SC30 = 1-STORY 1945 & OLDER

In [12]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC30':'1-STORY 1945 & OLDER'})

In [13]:
house_data

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,SC60,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,SC70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

### 	SC40	= 1-STORY W/FINISHED ATTIC ALL AGES

In [14]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC40':'1-STORY W/FINISHED ATTIC ALL AGES'})

### SC45 = 1-1/2 STORY - UNFINISHED ALL AGES

In [15]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC45':'1-1/2 STORY - UNFINISHED ALL AGES'})

### SC50 = 1-1/2 STORY FINISHED ALL AGES

In [16]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC50':'1-1/2 STORY FINISHED ALL AGES'})

### SC60 = 2-STORY 1946 & NEWER

In [17]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC60':'2-STORY 1946 & NEWER'})

### SC70 = 2-STORY 1945 & OLDER

In [18]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC70':'2-STORY 1945 & OLDER'})

### SC75 = 2-1/2 STORY ALL AGES

In [19]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC75':'2-1/2 STORY ALL AGES'})

### SC80 = SPLIT OR MULTI-LEVEL

In [20]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC80':'SPLIT OR MULTI-LEVEL'})

### SC85 = SPLIT FOYER

In [21]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC85':'SPLIT FOYER'})

### 	SC90 =	DUPLEX - ALL STYLES AND AGES

In [22]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC90':'DUPLEX - ALL STYLES AND AGES'})

### SC120  = 1-STORY PUD (Planned Unit Development) - 1946 & NEWER

In [23]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC120':'1-STORY PUD (Planned Unit Development) - 1946 & NEWER'})

### SC150 =  1-1/2 STORY PUD - ALL AGES

In [24]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC150':'1-1/2 STORY PUD - ALL AGES'})

### SC160 =  2-STORY PUD - 1946 & NEWER

In [25]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC160':'2-STORY PUD - 1946 & NEWER'})

### SC180 =  PUD - MULTILEVEL - INCL SPLIT LEV/FOYER

In [26]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC180':'PUD - MULTILEVEL - INCL SPLIT LEV/FOYER'})

### SC190 =  2 FAMILY CONVERSION - ALL STYLES AND AGES

In [27]:
house_data['MSSubClass'] = house_data['MSSubClass'].replace({'SC190':'2 FAMILY CONVERSION - ALL STYLES AND AGES'})

In [28]:
house_data

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,2-STORY 1946 & NEWER,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,2-STORY 1945 & OLDER,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

## RENAME THE COLUMN MSSubClass TO MS Sub Class

In [29]:
house_data.rename(columns={'MSSubClass' : 'Type Of Dwelling' },inplace = True)

In [30]:
house_data

,Unnamed: 0,Type Of Dwelling,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,2-STORY 1946 & NEWER,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,2-STORY 1945 & OLDER,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

## UNIQUE VALUES OF Type Of Dwelling

In [31]:
house_data['Type Of Dwelling'].unique()

array(['2-STORY 1946 & NEWER', '1-STORY 1946 & NEWER ALL STYLES',
       '2-STORY 1945 & OLDER', '1-1/2 STORY FINISHED ALL AGES',
       '2 FAMILY CONVERSION - ALL STYLES AND AGES',
       '1-1/2 STORY - UNFINISHED ALL AGES',
       'DUPLEX - ALL STYLES AND AGES',
       '1-STORY PUD (Planned Unit Development) - 1946 & NEWER',
       '1-STORY 1945 & OLDER', 'SPLIT FOYER', 'SPLIT OR MULTI-LEVEL',
       '2-STORY PUD - 1946 & NEWER', '2-1/2 STORY ALL AGES',
       'PUD - MULTILEVEL - INCL SPLIT LEV/FOYER',
       '1-STORY W/FINISHED ATTIC ALL AGES'], dtype=object)

## VALUES COUNTS OF Type Of Dwelling

In [32]:
house_data['Type Of Dwelling'].value_counts()

Type Of Dwelling
1-STORY 1946 & NEWER ALL STYLES                          536
2-STORY 1946 & NEWER                                     299
1-1/2 STORY FINISHED ALL AGES                            144
1-STORY PUD (Planned Unit Development) - 1946 & NEWER     87
1-STORY 1945 & OLDER                                      69
2-STORY PUD - 1946 & NEWER                                63
2-STORY 1945 & OLDER                                      60
SPLIT OR MULTI-LEVEL                                      58
DUPLEX - ALL STYLES AND AGES                              52
2 FAMILY CONVERSION - ALL STYLES AND AGES                 30
SPLIT FOYER                                               20
2-1/2 STORY ALL AGES                                      16
1-1/2 STORY - UNFINISHED ALL AGES                         12
PUD - MULTILEVEL - INCL SPLIT LEV/FOYER                   10
1-STORY W/FINISHED ATTIC ALL AGES                          4
Name: count, dtype: int64

## MSZoning: Identifies the general zoning classification of the sale.

##  VALUE COUNTS OF MSZoning TO CHECK ZONES

In [33]:
house_data['MSZoning'].value_counts()

MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64

## MEANS THERE ARE ONLY 5 ZONES, SO WE WILL WORK ON THEM ONLY

### RL =	Residential Low-Density

In [34]:
house_data['MSZoning'] = house_data['MSZoning'].replace({'RL':'Residential Low-Density'})

In [35]:
house_data

,Unnamed: 0,Type Of Dwelling,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,Residential Low-Density,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,Residential Low-Density,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,Residential Low-Density,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,2-STORY 1946 & NEWER,Residential Low-Density,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,2-STORY 1945 & OLDER,Residential Low-Density,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

### RM = Residential Medium Density

In [36]:
house_data['MSZoning'] = house_data['MSZoning'].replace({'RM':'Residential Medium Density'})

### FV = Floating Village Residential

In [37]:
house_data['MSZoning'] = house_data['MSZoning'].replace({'FV':'Floating Village Residential'})

### RH = Residential High-Density

In [38]:
house_data['MSZoning'] = house_data['MSZoning'].replace({'RH':'Residential High-Density'})

### C = Commercial

In [39]:
house_data['MSZoning'] = house_data['MSZoning'].replace({'C (all)':'Commercial'})

## RENAME THE COLUMN MSZoning TO General Zone Classification

In [40]:
house_data.rename(columns={'MSZoning':'General Zone Classification'},inplace=True)

In [41]:
house_data

,Unnamed: 0,Type Of Dwelling,General Zone Classification,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,Residential Low-Density,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,Residential Low-Density,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,Residential Low-Density,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,2-STORY 1946 & NEWER,Residential Low-Density,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,2-STORY 1945 & OLDER,Residential Low-Density,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

## UNIQUE VALES OF General Zone Classification COLUMN

In [42]:
house_data['General Zone Classification'].unique()

array(['Residential Low-Density', 'Residential Medium Density',
       'Commercial', 'Floating Village Residential',
       'Residential High-Density'], dtype=object)

## LotFrontage: Linear feet of street connected to the property

### RENAME THE COLUNM LotFrontage to Linear Feet of Street

In [43]:
house_data.rename(columns={'LotFrontage':'Linear Feet of Street'},inplace=True)

In [44]:
house_data['Linear Feet of Street'] = house_data['Linear Feet of Street'].apply(lambda x: f'{int(x)} Feet')

In [45]:
house_data

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,Residential Low-Density,68 Feet,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,Residential Low-Density,60 Feet,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,Residential Low-Density,84 Feet,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,2-STORY 1946 & NEWER,Residential Low-Density,62 Feet,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,85 Feet,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,2-STORY 1945 & OLDER,Residential Low-Density,66 Feet,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,68 Feet,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,75 Feet,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

## LotArea: Lot size in square feet

### Rename the column LotArea to Plot size in square feet

In [46]:
house_data.rename(columns={'LotArea':'Plot size in square feet'},inplace=True)

In [47]:
house_data['Plot size in square feet'] = house_data['Plot size in square feet'].apply(lambda x: f'{x} Square feet')

In [48]:
house_data.head(2)

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500

## Street: Type of road access to property

### Grvl = Gravel
### Pave = Paved

In [49]:
house_data['Street'] = house_data['Street'].replace({'Grvl':'Gravel','Pave':'Paved'})

## Unique values of Street column

In [50]:
house_data['Street'].unique()

array(['Paved', 'Gravel'], dtype=object)

In [51]:
house_data.rename(columns={'Street':'Type of road'},inplace=True)

In [52]:
house_data.head(2)

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500

## Alley: Type of alley access to property

### Grvl = Gravel
### Pave = Paved

In [53]:
house_data['Alley'] = house_data['Alley'].replace({'Grvl':'Gravel','Pave':'Paved'})

### NA = No alley access

In [54]:
house_data['Alley'] = house_data['Alley'].fillna('No Alley Access')

In [55]:
house_data.rename(columns={'Alley':'Type of Alley'},inplace=True)

In [56]:
house_data['Type of Alley'].value_counts()

Type of Alley
No Alley Access    1369
Gravel               50
Paved                41
Name: count, dtype: int64

## Unique values of Type of Alley Column

In [57]:
house_data['Type of Alley'].unique()

array(['No Alley Access', 'Gravel', 'Paved'], dtype=object)

In [58]:
house_data.head(2)

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500

## LotShape: General shape of property
### Reg = Regular       	
### IR1	= Slightly irregular
### IR2	= Moderately Irregular
### IR3	= Irregular

In [59]:
house_data['LotShape'] = house_data['LotShape'].replace({'Reg':'Regular','IR1':'Slightly Irregular','IR2':'Moderately Irregular','IR3':'Irregular'})

In [60]:
house_data.rename(columns={'LotShape':'Shape of Property'},inplace=True)

In [61]:
house_data['Shape of Property'].value_counts()

Shape of Property
Regular                 925
Slightly Irregular      484
Moderately Irregular     41
Irregular                10
Name: count, dtype: int64

## Unique values of Shape of Property Column

In [62]:
house_data['Shape of Property'].unique()

array(['Regular', 'Slightly Irregular', 'Moderately Irregular',
       'Irregular'], dtype=object)

In [63]:
house_data[0:2]

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,Shape of Property,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Regular,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Regular,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500

## LandContour: Flatness of the property
### Lvl = Near Flat/Level
### Bnk = Banked - Quick and significant rise from street grade to building
### HLS = Hillside - Significant slope from side to side
### Low = Depression

In [64]:
house_data['LandContour'] = house_data['LandContour'].replace({'Lvl':'Near Flat Level','Bnk':'Banked','HLS':'Hillside','Low':'Depression'})

In [65]:
house_data.rename(columns={'LandContour':'Flatness of Property'},inplace=True)

In [66]:
house_data['Flatness of Property'].value_counts()

Flatness of Property
Near Flat Level    1311
Banked               63
Hillside             50
Depression           36
Name: count, dtype: int64

In [67]:
house_data[0:2]

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,Shape of Property,Flatness of Property,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Regular,Near Flat Level,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Regular,Near Flat Level,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500

## Utilities: Type of utilities available
### AllPub = All public Utilities (E,G,W,& S)
### NoSewr = Electricity, Gas, and Water (Septic Tank)
### NoSeWa = Electricity and Gas Only
### ELO = Electricity only

In [68]:
house_data['Utilities'] = house_data['Utilities'].replace({'AllPub':'All Public Utilities','NoSeWa':'Electricity, Gas, and Water','NoSeWa':'Electricity and Gas Only','ELO':'Electricity only'})

In [69]:
house_data.rename(columns={'Utilities':'Types of Utilities Available'},inplace=True)

In [70]:
house_data['Types of Utilities Available'].value_counts()

Types of Utilities Available
All Public Utilities        1459
Electricity and Gas Only       1
Name: count, dtype: int64

In [71]:
house_data.iloc[0:2,9:]

,Types of Utilities Available,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,All Public Utilities,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,All Public Utilities,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,...,0,No,No,No,0,May,2007,WD,Normal,181500

## LotConfig: Lot configuration
### Inside = Inside lot
### Corner = Corner lot
### CulDSac = Cul-de-sac
### FR2 = Frontage on 2 sides of the property
### FR3 = Frontage on 3 sides of the property

In [72]:
house_data['LotConfig'] = house_data['LotConfig'].replace({'Inside':'Inside Plot','Corner':'Corner Plot','CulDSac':'Cul-De-Sac','FR2':'Frontage on 2 sides of the property','FR3':'Frontage on 3 sides of the property'})

In [73]:
house_data.rename(columns={'LotConfig':'Plot Configuration'},inplace=True)

In [74]:
house_data['Plot Configuration'].value_counts()

Plot Configuration
Inside Plot                            1052
Corner Plot                             263
Cul-De-Sac                               94
Frontage on 2 sides of the property      47
Frontage on 3 sides of the property       4
Name: count, dtype: int64

In [75]:
house_data.iloc[0:2,10:]

,Plot Configuration,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,Inside Plot,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,Frontage on 2 sides of the property,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,...,0,No,No,No,0,May,2007,WD,Normal,181500

## LandSlope: Slope of property
### Gtl = Gentle slope
### Mod = Moderate Slope       	
### Sev = Severe Slope

In [76]:
house_data['LandSlope'] = house_data['LandSlope'].replace({'Gtl':'Gentle Slope','Mod':'Moderate Slope','Sev':'Sever Slope'})

In [77]:
house_data.rename(columns={'LandSlope':'Slope of Property'},inplace=True)

In [78]:
house_data['Slope of Property'].value_counts()

Slope of Property
Gentle Slope      1382
Moderate Slope      65
Sever Slope         13
Name: count, dtype: int64

In [79]:
house_data.iloc[0:2,11:]

,Slope of Property,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,Gentle Slope,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,Gentle Slope,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,...,0,No,No,No,0,May,2007,WD,Normal,181500

## Neighborhood: Physical locations within Ames city limits
#### Blmngtn = Bloomington Heights
#### Blueste = Bluestem
#### BrDale = Briardale
#### BrkSide = Brookside
#### ClearCr = Clear Creek
#### CollgCr = College Creek
#### Crawfor = Crawford
#### Edwards = Edwards
#### Gilbert = Gilbert
#### IDOTRR = Iowa DOT and Rail Road
#### MeadowV = Meadow Village
#### Mitchel = Mitchell
#### NAmes = North Ames
#### NoRidge = Northridge
#### NPkVill = Northpark Villa
#### NridgHt = Northridge Heights
#### NWAmes = Northwest Ames
#### OldTown = Old Town
#### SWISU = South & West of Iowa State University
#### Sawyer = Sawyer
#### SawyerW = Sawyer West
#### Somerst = Somerset
#### StoneBr = Stone Brook
#### Timber = Timberland
#### Veenker = Veenker

In [80]:
house_data['Neighborhood'] = house_data['Neighborhood'].replace({'Blmngtn':'Bloomington Heights','Blueste':'Bluestem','BrDale':'Briardale','BrkSide':'Brookside','ClearCr':'Clear Creek','CollgCr':'College Creek','Crawfor':'Crawford','IDOTRR':'Iowa DOT and Rail Road','MeadowV':'Meadow Village','Mitchel':'Mitchell','NAmes':'North Ames','NoRidge':'Northridge','NPkVill':'Northpark Villa','NridgHt':'Northridge Heights','NWAmes':'Northwest Ames','OldTown':'Old Town','SWISU':'South & West of Iowa State University','SawyerW':'Sawyer West','Somerst':'Somerset','StoneBr':'Stone Brook','Timber':'Timberland'})

In [81]:
house_data.rename(columns={'Neighborhood':'Locations within Ames City limits'},inplace=True)

In [82]:
house_data['Locations within Ames City limits'].value_counts()

Locations within Ames City limits
North Ames                               225
College Creek                            150
Old Town                                 113
Edwards                                  100
Somerset                                  86
Gilbert                                   79
Northridge Heights                        77
Sawyer                                    74
Northwest Ames                            73
Sawyer West                               59
Brookside                                 58
Crawford                                  51
Mitchell                                  49
Northridge                                41
Timberland                                38
Iowa DOT and Rail Road                    37
Clear Creek                               28
Stone Brook                               25
South & West of Iowa State University     25
Meadow Village                            17
Bloomington Heights                       17
Briardale                                 16
Veenker                                   11
Northpark Villa                            9
Bluestem                                   2
Name: count, dtype: int64

In [83]:
house_data.iloc[0:5,11:]

,Slope of Property,Locations within Ames City limits,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,Gentle Slope,College Creek,Norm,Norm,1Fam,2Story,7,5,2003,2003,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,Gentle Slope,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,Gentle Slope,College Creek,Norm,Norm,1Fam,2Story,7,5,2001,2002,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,Gentle Slope,Crawford,Norm,Norm,1Fam,2Story,7,5,1915,1970,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,Gentle Slope,Northridge,Norm,Norm,1Fam,2Story,8,5,2000,2000,...,0,No,No,No,0,Dec,2008,WD,Normal,250000

## Condition 1 and Condition 2: Proximity to various conditions
#### Artery = Adjacent to arterial street
#### Feedr = Adjacent to feeder street      	
#### Norm = Normal
#### RRNn = Within 200' of North-South Railroad
#### RRAn = Adjacent to North-South Railroad
#### PosN = Near positive off-site feature--park, greenbelt, etc.
#### PosA = Adjacent to positive off-site feature
#### RRNe = Within 200' of East-West Railroad
#### RRAe = Adjacent to East-West Railroad

In [84]:
house_data['Condition1'] = house_data['Condition1'].replace({'Artery':'Adjacent to arterial street','Feedr':'Adjacent to feeder street','Norm':'Normal','RRNn':"Within 200' of North-South Railroad",'RRAn':'Adjacent to North-South Railroad','PosN':'Near positive off-site feature--park, greenbelt, etc','PosA':'Adjacent to positive off-site feature',"RRNe":"Within 200' of East-West Railroad",'RRAe':'Adjacent to East-West Railroad'})

In [85]:
house_data['Condition2'] = house_data['Condition2'].replace({'Artery':'Adjacent to arterial street','Feedr':'Adjacent to feeder street','Norm':'Normal','RRNn':"Within 200' of North-South Railroad",'RRAn':'Adjacent to North-South Railroad','PosN':'Near positive off-site feature--park, greenbelt, etc','PosA':'Adjacent to positive off-site feature',"RRNe":"Within 200' of East-West Railroad",'RRAe':'Adjacent to East-West Railroad'})

## Make function to do Feature engineering to make one column of two columns

In [86]:
def column_add(x,y):
    if x != y:
        return (x + ' & ' + y)
    else:
        return x

In [87]:
house_data['Condition1'] = house_data.apply(lambda a: column_add(a['Condition1'],a['Condition2']),axis=1)

In [88]:
house_data.head()

,Unnamed: 0,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,Shape of Property,Flatness of Property,Types of Utilities Available,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,2-STORY 1946 & NEWER,Residential Low-Density,68 Feet,11250 Square feet,Paved,No Alley Access,Slightly Irregular,Near Flat Level,All Public Utilities,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,2-STORY 1945 & OLDER,Residential Low-Density,60 Feet,9550 Square feet,Paved,No Alley Access,Slightly Irregular,Near Flat Level,All Public Utilities,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,2-STORY 1946 & NEWER,Residential Low-Density,84 Feet,14260 Square feet,Paved,No Alley Access,Slightly Irregular,Near Flat Level,All Public Utilities,...,0,No,No,No,0,Dec,2008,WD,Normal,250000

### Drop Condition2 column as it is not required now and drop Unnammed column

In [89]:
house_data.drop(['Unnamed: 0','Condition2'],axis = 1,inplace = True)

In [90]:
house_data.shape

(1460, 79)

In [91]:
house_data.rename(columns={'Condition1':'Proximity to various conditions'},inplace=True)

In [92]:
house_data.iloc[0:2,0:15]

,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,Shape of Property,Flatness of Property,Types of Utilities Available,Plot Configuration,Slope of Property,Locations within Ames City limits,Proximity to various conditions,BldgType,HouseStyle
0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,Inside Plot,Gentle Slope,College Creek,Normal,1Fam,2Story
1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,Frontage on 2 sides of the property,Gentle Slope,Veenker,Adjacent to feeder street & Normal,1Fam,1Story

## Unique values

In [93]:
house_data['Proximity to various conditions'].unique()

array(['Normal', 'Adjacent to feeder street & Normal',
       'Near positive off-site feature--park, greenbelt, etc & Normal',
       'Adjacent to arterial street & Normal',
       'Adjacent to arterial street',
       'Adjacent to East-West Railroad & Normal',
       "Adjacent to feeder street & Within 200' of North-South Railroad",
       "Within 200' of North-South Railroad & Normal",
       'Adjacent to North-South Railroad & Adjacent to feeder street',
       'Adjacent to positive off-site feature & Normal',
       'Adjacent to feeder street',
       'Adjacent to North-South Railroad & Normal',
       "Within 200' of East-West Railroad & Normal",
       'Near positive off-site feature--park, greenbelt, etc',
       "Within 200' of North-South Railroad & Adjacent to feeder street",
       'Adjacent to arterial street & Adjacent to positive off-site feature',
       'Adjacent to feeder street & Adjacent to North-South Railroad',
       'Adjacent to feeder street & Adjacent to East-West Railroad'],
      dtype=object)

## Drop both columns BldgType and HouseStyle as these are duplicate of MSSubClass column

In [94]:
house_data.drop(['BldgType','HouseStyle'],axis = 1,inplace=True)

In [95]:
house_data.shape

(1460, 77)

In [96]:
house_data.iloc[0:2,0:15]

,Type Of Dwelling,General Zone Classification,Linear Feet of Street,Plot size in square feet,Type of road,Type of Alley,Shape of Property,Flatness of Property,Types of Utilities Available,Plot Configuration,Slope of Property,Locations within Ames City limits,Proximity to various conditions,OverallQual,OverallCond
0,2-STORY 1946 & NEWER,Residential Low-Density,65 Feet,8450 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,Inside Plot,Gentle Slope,College Creek,Normal,7,5
1,1-STORY 1946 & NEWER ALL STYLES,Residential Low-Density,80 Feet,9600 Square feet,Paved,No Alley Access,Regular,Near Flat Level,All Public Utilities,Frontage on 2 sides of the property,Gentle Slope,Veenker,Adjacent to feeder street & Normal,6,8

## OverallQual: Rates the overall material and finish of the house
### 10 = Very Excellent
### 9 = Excellent
### 8 = Very Good
### 7 = Good
### 6 = Above Average
### 5 = Average
### 4 = Below Average
### 3 = Fair
### 2 = Poor
### 1 = Very Poor

In [97]:
house_data['OverallQual'] = house_data['OverallQual'].replace({10:'Very Excellent',9:'Excellent',8:'Very Good',7:'Good',6:'Above Average',5:'Average',4:'Below Average',3:'Fair',2:'Poor',1:'Very Poor'})

In [98]:
house_data.rename(columns={'OverallQual':'Overall Rating(Material & Finishing)'},inplace=True)

In [99]:
house_data.iloc[0:4,10:20]

,Slope of Property,Locations within Ames City limits,Proximity to various conditions,Overall Rating(Material & Finishing),OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st
0,Gentle Slope,College Creek,Normal,Good,5,2003,2003,Gable,CompShg,VinylSd
1,Gentle Slope,Veenker,Adjacent to feeder street & Normal,Above Average,8,1976,1976,Gable,CompShg,MetalSd
2,Gentle Slope,College Creek,Normal,Good,5,2001,2002,Gable,CompShg,VinylSd
3,Gentle Slope,Crawford,Normal,Good,5,1915,1970,Gable,CompShg,Wd Sdng

## OverallCond: Rates the overall condition of the house
### 10 = Very Excellent
### 9 = Excellent
### 8 = Very Good
### 7 = Good
### 6 = Above Average
### 5 = Average
### 4 = Below Average
### 3 = Fair
### 2 = Poor
### 1 = Very Poor

In [100]:
house_data['OverallCond'] = house_data['OverallCond'].replace({10:'Very Excellent',9:'Excellent',8:'Very Good',7:'Good',6:'Above Average',5:'Average',4:'Below Average',3:'Fair',2:'Poor',1:'Very Poor'})

In [101]:
house_data.rename(columns={'OverallCond':'Rating Overall Condition of house'},inplace=True)

In [102]:
house_data.iloc[0:4,10:20]

,Slope of Property,Locations within Ames City limits,Proximity to various conditions,Overall Rating(Material & Finishing),Rating Overall Condition of house,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st
0,Gentle Slope,College Creek,Normal,Good,Average,2003,2003,Gable,CompShg,VinylSd
1,Gentle Slope,Veenker,Adjacent to feeder street & Normal,Above Average,Very Good,1976,1976,Gable,CompShg,MetalSd
2,Gentle Slope,College Creek,Normal,Good,Average,2001,2002,Gable,CompShg,VinylSd
3,Gentle Slope,Crawford,Normal,Good,Average,1915,1970,Gable,CompShg,Wd Sdng

## YearBuilt: Original construction date

## YearRemodAdd: Remodel date (same as construction date if no remodeling or additions)

## Add (Original Construction Date) and (YearRemoteAdd) to Single column

In [103]:
def num_column_add(x,y):
    if x != y:
        return (str(x) + ' & ' + str(y))
    else:
        return x

In [104]:
house_data['YearBuilt'] = house_data.apply(lambda a: num_column_add(a['YearBuilt'],a['YearRemodAdd']),axis = 1)

In [105]:
house_data.iloc[2:5,10:20]

,Slope of Property,Locations within Ames City limits,Proximity to various conditions,Overall Rating(Material & Finishing),Rating Overall Condition of house,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st
2,Gentle Slope,College Creek,Normal,Good,Average,2001 & 2002,2002,Gable,CompShg,VinylSd
3,Gentle Slope,Crawford,Normal,Good,Average,1915 & 1970,1970,Gable,CompShg,Wd Sdng
4,Gentle Slope,Northridge,Normal,Very Good,Average,2000,2000,Gable,CompShg,VinylSd

In [106]:
house_data.rename(columns={'YearBuilt':'Original Construction & Remodel Date'},inplace=True)

## Drop YearRemodAdd Column as it is not required now

In [107]:
house_data.drop('YearRemodAdd',axis=1,inplace = True)

In [108]:
house_data.iloc[2:5,10:20]

,Slope of Property,Locations within Ames City limits,Proximity to various conditions,Overall Rating(Material & Finishing),Rating Overall Condition of house,Original Construction & Remodel Date,RoofStyle,RoofMatl,Exterior1st,Exterior2nd
2,Gentle Slope,College Creek,Normal,Good,Average,2001 & 2002,Gable,CompShg,VinylSd,VinylSd
3,Gentle Slope,Crawford,Normal,Good,Average,1915 & 1970,Gable,CompShg,Wd Sdng,Wd Shng
4,Gentle Slope,Northridge,Normal,Very Good,Average,2000,Gable,CompShg,VinylSd,VinylSd

## Unique Values of Original Construction & Remodel Date

In [109]:
house_data['Original Construction & Remodel Date'].unique()

array([2003, 1976, '2001 & 2002', '1915 & 1970', 2000, '1993 & 1995',
       '2004 & 2005', 1973, '1931 & 1950', '1939 & 1950', 1965,
       '2005 & 2006', 1962, '2006 & 2007', 1960, '1929 & 2001', 1970,
       1967, 2004, '1958 & 1965', '1930 & 1950', 2002, '1968 & 2001',
       2007, '1951 & 2000', '2007 & 2008', '1957 & 1997', '1927 & 1950',
       '1920 & 1950', '1966 & 2006', 1959, 2005, '1994 & 1995',
       '1954 & 1990', '1953 & 2007', 1955, 1983, '1975 & 1980', 2006,
       '1920 & 2008', 1966, 1997, '1934 & 1950', 1963, '1981 & 1987',
       1964, '1999 & 2000', 1972, '1920 & 1996', '1921 & 1950',
       '1997 & 1998', '1970 & 1989', '1945 & 1950', 1953, '1982 & 2006',
       1998, '1954 & 2003', '1915 & 1950', 1956, '1948 & 2001', 1968,
       '1910 & 1981', '1995 & 1996', '1991 & 1992', 2009, '1915 & 1982',
       1950, 1961, '1921 & 2006', '1910 & 1998', 1993, 1999,
       '1977 & 2001', 1985, 1979, '2003 & 2004', '1885 & 1995',
       '1948 & 1950', '1919 & 2005', 1977, '1954 & 1972', '1945 & 2002',
       1990, 1969, 1958, '1979 & 1998', '1935 & 1982', '1958 & 1991',
       '1959 & 2002', '1968 & 1993', '1988 & 1989', 1971, 1952,
       '2004 & 2006', '1931 & 1993', 2001, '1936 & 1950', 1975,
       '1960 & 1975', '1923 & 1950', '1924 & 1950', '2009 & 2010', 1984,
       '1926 & 2004', '1940 & 1999', '1955 & 1993', 1981, '1941 & 1950',
       1987, 1986, '1950 & 2001', '2008 & 2009', '1923 & 2006',
       '1957 & 2006', '1908 & 1991', '1892 & 1993', '1990 & 1991',
       '1916 & 1987', '1932 & 1994', '1972 & 2004', '1918 & 1990',
       '1912 & 1950', '1947 & 1950', '1925 & 1950', 1995, '1957 & 1996',
       '1939 & 2006', '1993 & 2003', 2008, '1945 & 1997', '1900 & 1950',
       1980, '1994 & 2002', 1988, '1910 & 1950', 1954, '1958 & 2006',
       '1940 & 1966', '1964 & 1991', 1957, '1977 & 1995', '1925 & 2004',
       '1939 & 1997', '1940 & 1955', '1954 & 2005', '1999 & 2007',
       '1958 & 1988', 1982, '1925 & 2007', 1951, 1989, 1992,
       '1962 & 1981', '1915 & 2003', '1912 & 2000', '1949 & 2008',
       '1977 & 1994', '1950 & 2004', '1998 & 1999', '1880 & 2002',
       '1940 & 1950', '1993 & 1994', '1948 & 2002', '1925 & 1990',
       '1986 & 1987', '1955 & 2005', '1967 & 2007', '1916 & 1994',
       '1958 & 1992', '2002 & 2003', '1984 & 1998', '1958 & 1998',
       '1949 & 1950', '1960 & 1998', '1928 & 2003', '1940 & 2000', 1978,
       '1940 & 1982', '1972 & 2007', '1920 & 1997', '1959 & 2006',
       '1922 & 1950', 1996, 2010, '1928 & 1950', '1910 & 1996',
       '1940 & 1997', '1976 & 1993', '1915 & 1976', '1918 & 1950',
       '1977 & 2000', '1946 & 1992', '1920 & 1998', '1913 & 2002',
       '1920 & 2000', '1930 & 1992', '1966 & 2002', '1937 & 1950',
       '1930 & 2005', '1996 & 1997', '1916 & 1950', '1954 & 1994',
       '1925 & 1996', '1936 & 2007', '1934 & 1995', '1942 & 1995',
       '1937 & 2000', '1915 & 2005', '1962 & 2001', '1950 & 2007',
       '1900 & 1970', '1970 & 2002', '1938 & 1996', '1992 & 1993',
       '1967 & 2004', '1958 & 1985', '1959 & 1997', 1974, '1928 & 2005',
       '1926 & 1950', '1900 & 2000', '1956 & 2000', '1920 & 2002',
       '1957 & 1975', '1920 & 1999', '1955 & 2007', '1946 & 1950',
       '1910 & 1991', '1955 & 1995', '1949 & 2003', '1974 & 1975',
       '1940 & 1969', '1992 & 2000', '2005 & 2007', '1983 & 2009',
       '1971 & 2005', '1960 & 1987', '1893 & 2000', '1935 & 1995',
       '1918 & 2000', '1968 & 2003', '1930 & 1960', '1982 & 2003',
       '1910 & 1993', '1965 & 1990', '1934 & 1998', '1914 & 1950',
       '1974 & 1997', '1960 & 1978', '1955 & 1972', '1880 & 1991',
       '1914 & 1995', '1972 & 1995', '1906 & 1995', '1931 & 2000',
       '1964 & 1999', '1994 & 2005', '1965 & 1979', '1994 & 1998',
       '1956 & 1987', '1957 & 2004', '1924 & 2006', '1932 & 2000',
       '1989 & 1990', '1921 & 1968', '1965 & 2009', '1900 & 1996',
       '1971 & 2002', '1935 & 2003', '1976 & 2005', '1890 & 1998',
       '1973 & 2000', '1988 & 2007', '1961 & 1983', '1914 & 1970',
       '1987 & 1988', '1910 & 2002', '1961 & 1996', '2000 & 2001',
       '1963 & 1999', '1976 & 1996', '1880 & 2003', '1910 & 2004',
       '1969 & 2005', '1940 & 1985', '1914 & 2001', '1954 & 2000',
       '1966 & 2007', '1994 & 1996', '1980 & 1981', '1916 & 1990',
       '1923 & 2004', '1898 & 1965', '1974 & 1999', '1950 & 1995',
       '1948 & 1973', '1995 & 2006', '1946 & 1995', '1904 & 2002',
       '1975 & 1981', '1908 & 1997', '1976 & 1994', '1955 & 1974',
       '1962 & 2010', '1968 & 1984', '1918 & 1998', '1984 & 1985',
       '1953 & 1996', '1961 & 1995', '1978 & 2005', '1959 & 2005',
       '1949 & 2006', '1963 & 2003', '1961 & 1994', '1957 & 2000',
       '1936 & 1987', '1977 & 1989', 1991, '1958 & 2002', 1994,
       '1900 & 2003', '1960 & 2007', '1926 & 1953', '1890 & 1996',
       '1972 & 2006', '1950 & 2002', '1972 & 2003', '1958 & 2008',
       '1923 & 1958', '1961 & 2007', '1910 & 2003', '1882 & 1986',
       '1964 & 1993', '1923 & 1996', '1910 & 2006', '1916 & 1995',
       '1920 & 1970', '1938 & 1950', '1970 & 2008', '1966 & 2000',
       '1960 & 2006', '1946 & 2006', '1964 & 1978', '1957 & 2002',
       '1932 & 1950', '1935 & 1950', '1925 & 1980', '1940 & 1984',
       '1936 & 1989', '1971 & 2004', '1965 & 1998', '1914 & 2006',
       '1960 & 2002', '1953 & 2006', '1967 & 2003', '1958 & 1987',
       '1947 & 2008', '1880 & 1950', '1875 & 1996', '1920 & 1988',
       '1956 & 2004', '1930 & 2007', '1965 & 1988', '1976 & 2004',
       '1965 & 1999', '1954 & 2006', '1935 & 1986', '1946 & 1994',
       '1961 & 1975', '1925 & 1994', '1963 & 1979', '1925 & 1997',
       '1962 & 1980', '1988 & 2005', '1965 & 2001', '1965 & 2008',
       '1911 & 1950', '1929 & 1950', '1984 & 2003', '1917 & 1950',
       '1974 & 2003', '1957 & 1989', '1919 & 1950', '1935 & 1997',
       '1967 & 1976', '1977 & 2008', '1919 & 1990', '1892 & 1965',
       '1955 & 1990', '1959 & 1994', '1942 & 1950', '1948 & 2005',
       '1931 & 2006', '1982 & 2008', '1938 & 1958', '1938 & 1995',
       '1872 & 1987', '1968 & 1992', '1971 & 2008', '1921 & 1998',
       '1920 & 2007', '1955 & 1996', '1941 & 1960', '1918 & 2007',
       '1922 & 2007', '1905 & 2000', '1920 & 2004', '1950 & 1982',
       '1986 & 1991', '1950 & 2005', '1923 & 2000', '1885 & 1950',
       '1958 & 1983', '1940 & 1992', '1927 & 2007', '1962 & 2005',
       '1922 & 1994', '1910 & 2000', '1978 & 1988', '1941 & 2006',
       '1950 & 1996'], dtype=object)

## RoofStyle: Type of roof
### Flat = Flat
### Gable = Gable
### Gambrel = Gabrel (Barn)
### Hip = Hip
### Mansard = Mansard
### Shed = Shed

In [110]:
house_data['RoofStyle'] = house_data['RoofStyle'].replace({'Gambrel':'Gabrel (Barn)'})

In [111]:
house_data.rename(columns={'RoofStyle':'Type of Roof'},inplace=True)

In [112]:
house_data['Type of Roof'].value_counts()

Type of Roof
Gable            1141
Hip               286
Flat               13
Gabrel (Barn)      11
Mansard             7
Shed                2
Name: count, dtype: int64

## RoofMatl: Roof material
### ClyTile = Clay or Tile
### CompShg = Standard (Composite) Shingle
### Membran = Membrane
### Metal = Metal
### Roll = Roll
### Tar&Grv = Gravel & Tar
### WdShake = Wood Shakes
### WdShngl = Wood Shingles

In [113]:
house_data['RoofMatl'] = house_data['RoofMatl'].replace({'ClyTile':'Clay or Tile','CompShg':'Standard (Composite) Shingle','Membran':'Membrane','Tar&Grv':'Gravel & Tar','WdShake':'Wood Shakes','WdShngl':'Wood Shingles'})

In [114]:
house_data.rename(columns={'RoofMatl':'Material used in Roof'},inplace=True)

In [115]:
house_data.iloc[12:15,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation
12,1962,Hip,Standard (Composite) Shingle,HdBoard,Plywood,NaN,0,TA,TA,CBlock
13,2006 & 2007,Gable,Standard (Composite) Shingle,VinylSd,VinylSd,Stone,306,Gd,TA,PConc
14,1960,Hip,Standard (Composite) Shingle,MetalSd,MetalSd,BrkFace,212,TA,TA,CBlock

In [116]:
house_data['Material used in Roof'].value_counts()

Material used in Roof
Standard (Composite) Shingle    1434
Gravel & Tar                      11
Wood Shingles                      6
Wood Shakes                        5
Metal                              1
Membrane                           1
Roll                               1
Clay or Tile                       1
Name: count, dtype: int64

## Exterior1st: Exterior covering on the house
## Exterior2nd: Exterior covering on house (if more than one material)
### AsbShng = Asbestos Shingles
### AsphShn = Asphalt Shingles
### BrkComm = Brick Common
### BrkFace = Brick Face
### CBlock = Cinder Block
### CemntBd = Cement Board
### HdBoard = Hard Board
### ImStucc = Imitation Stucco
### MetalSd = Metal Siding
### Other = Other
### Plywood = Plywood
### PreCast = PreCast
### Stone = Stone
### Stucco = Stucco
### VinylSd = Vinyl Siding
### Wd Sdng = Wood Siding
### WdShing = Wood Shingles

In [117]:
house_data['Exterior1st'] = house_data['Exterior1st'].replace({'AsbShng':'Asbestos Shingles','AsphShn':'Asphalt Shingles','BrkComm':'Brick Common','BrkFace':'Brick Face','CBlock':'Cinder Block','CemntBd':'Cement Board','HdBoard':'Hard Board','ImStucc':'Imitation Stucco','MetalSd':'Metal Siding','VinylSd':'Vinyl Siding','Wd Sdng':'Wood Siding','WdShing':'Wood Shingles'})

In [118]:
house_data['Exterior1st'].unique()

array(['Vinyl Siding', 'Metal Siding', 'Wood Siding', 'Hard Board',
       'Brick Face', 'Wood Shingles', 'Cement Board', 'Plywood',
       'Asbestos Shingles', 'Stucco', 'Brick Common', 'Asphalt Shingles',
       'Stone', 'Imitation Stucco', 'Cinder Block'], dtype=object)

In [119]:
house_data['Exterior2nd'] = house_data['Exterior2nd'].replace({'AsbShng':'Asbestos Shingles','AsphShn':'Asphalt Shingles','BrkComm':'Brick Common','Brk Cmn':'Brick Common','BrkFace':'Brick Face','CBlock':'Cinder Block','CemntBd':'Cement Board','CmentBd':'Cement Board','HdBoard':'Hard Board','ImStucc':'Imitation Stucco','MetalSd':'Metal Siding','VinylSd':'Vinyl Siding','Wd Sdng':'Wood Siding','WdShing':'Wood Shingles','Wd Shng':'Wood Shingles',})

In [120]:
house_data['Exterior2nd'].unique()

array(['Vinyl Siding', 'Metal Siding', 'Wood Shingles', 'Hard Board',
       'Plywood', 'Wood Siding', 'Cement Board', 'Brick Face', 'Stucco',
       'Asbestos Shingles', 'Brick Common', 'Imitation Stucco',
       'Asphalt Shingles', 'Stone', 'Other', 'Cinder Block'], dtype=object)

In [121]:
house_data['Exterior1st'] = house_data.apply(lambda a: column_add(a['Exterior1st'],a['Exterior2nd']),axis = 1)

In [122]:
house_data.rename(columns={'Exterior1st':'Exterior Covering on the House'},inplace=True)

## Drop Exterior2nd column as it is not required

In [123]:
house_data.drop('Exterior2nd',axis=1,inplace=True)

In [124]:
house_data['Exterior Covering on the House'].unique()

array(['Vinyl Siding', 'Metal Siding', 'Wood Siding & Wood Shingles',
       'Hard Board', 'Brick Face & Wood Shingles', 'Wood Shingles',
       'Hard Board & Plywood', 'Wood Siding', 'Brick Face & Plywood',
       'Cement Board', 'Plywood', 'Brick Face',
       'Asbestos Shingles & Plywood', 'Brick Face & Wood Siding',
       'Stucco', 'Brick Face & Asbestos Shingles', 'Asbestos Shingles',
       'Wood Shingles & Wood Siding', 'Vinyl Siding & Plywood',
       'Plywood & Brick Common', 'Wood Siding & Brick Face',
       'Wood Siding & Hard Board', 'Wood Siding & Plywood',
       'Hard Board & Imitation Stucco', 'Plywood & Imitation Stucco',
       'Hard Board & Asphalt Shingles', 'Wood Siding & Asbestos Shingles',
       'Vinyl Siding & Wood Shingles', 'Wood Siding & Metal Siding',
       'Wood Siding & Imitation Stucco', 'Wood Shingles & Plywood',
       'Wood Siding & Vinyl Siding', 'Brick Common',
       'Wood Siding & Stucco', 'Wood Shingles & Stucco',
       'Stucco & Wood Shingles', 'Wood Siding & Stone',
       'Metal Siding & Asphalt Shingles', 'Vinyl Siding & Other',
       'Plywood & Wood Siding', 'Metal Siding & Wood Siding',
       'Wood Shingles & Hard Board', 'Cement Board & Wood Siding',
       'Asbestos Shingles & Stucco', 'Vinyl Siding & Stucco',
       'Stucco & Stone', 'Cement Board & Wood Shingles',
       'Vinyl Siding & Hard Board', 'Metal Siding & Hard Board',
       'Plywood & Hard Board', 'Hard Board & Wood Siding',
       'Vinyl Siding & Imitation Stucco', 'Asphalt Shingles',
       'Metal Siding & Stucco', 'Stone & Hard Board',
       'Hard Board & Metal Siding', 'Stone', 'Imitation Stucco',
       'Brick Face & Hard Board', 'Brick Face & Stucco',
       'Stucco & Cement Board', 'Metal Siding & Wood Shingles',
       'Brick Face & Stone', 'Cinder Block', 'Vinyl Siding & Wood Siding',
       'Hard Board & Wood Shingles', 'Vinyl Siding & Asbestos Shingles'],
      dtype=object)

In [125]:
house_data.iloc[70:74,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual
70,1973,Gable,Standard (Composite) Shingle,Plywood,BrkFace,1115,TA,Gd,CBlock,Gd
71,1982 & 2006,Gable,Standard (Composite) Shingle,Hard Board & Plywood,NaN,0,TA,TA,CBlock,TA
72,1998,Gable,Standard (Composite) Shingle,Vinyl Siding,BrkFace,40,TA,TA,PConc,Gd
73,1954 & 2003,Gable,Standard (Composite) Shingle,Wood Siding,BrkFace,104,TA,TA,CBlock,TA

## MasVnrType: Masonry veneer type
### BrkCmn = Brick Common
### BrkFace = Brick Face
### CBlock = Cinder Block
### None = None
### Stone = Stone

In [126]:
house_data['MasVnrType'] = house_data['MasVnrType'].replace({'BrkCmn':'Brick Common','BrkFace':'Brick Face','CBlock':'Cinder Block'})

In [127]:
house_data.rename(columns={'MasVnrType':'Masonry veneer type'},inplace=True)

In [128]:
house_data['Masonry veneer type'].value_counts()

Masonry veneer type
Brick Face      445
Stone           128
Brick Common     15
Name: count, dtype: int64

In [129]:
house_data['Masonry veneer type'].isnull().sum()

872

## Drop (Masonry veneer type) column as it has most of null values and of no use

In [130]:
house_data.drop('Masonry veneer type',axis = 1, inplace=True)

## MasVnrArea: Masonry veneer area in square feet

In [131]:
house_data.rename(columns={'MasVnrArea':'Masonry veneer area in square feet'},inplace=True)

In [132]:
house_data['Masonry veneer area in square feet'].value_counts()

Masonry veneer area in square feet
0      869
180      8
72       8
108      8
120      7
      ...
562      1
89       1
921      1
762      1
119      1
Name: count, Length: 327, dtype: int64

## Drop (Masonry veneer area in square feet) column as it has most of values Zero and of no use

In [133]:
house_data.drop('Masonry veneer area in square feet',axis=1,inplace=True)

In [134]:
house_data.iloc[25:29,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure
25,2007,Gable,Standard (Composite) Shingle,Vinyl Siding,Gd,TA,PConc,Gd,TA,No
26,1951 & 2000,Gable,Standard (Composite) Shingle,Wood Siding,TA,TA,CBlock,TA,TA,Mn
27,2007 & 2008,Gable,Standard (Composite) Shingle,Vinyl Siding,Gd,TA,PConc,Ex,TA,No
28,1957 & 1997,Gable,Standard (Composite) Shingle,Metal Siding,TA,TA,CBlock,TA,TA,Gd

## ExterQual: Evaluates the quality of the material on the exterior
### Ex = Excellent
### Gd = Good
### TA = Average/Typical
### Fa = Fair
### Po = Poor

In [135]:
house_data['ExterQual'] = house_data['ExterQual'].replace({'Ex':'Excellent','Gd':'Good','TA':'Average/Typical','Fa':'Fair','Po':'Poor'})

## Unique values

In [136]:
house_data['ExterQual'].unique()

array(['Good', 'Average/Typical', 'Excellent', 'Fair'], dtype=object)

In [137]:
house_data.rename(columns={'ExterQual':'Evaluation of Quality of material on Exterior'},inplace=True)

In [138]:
house_data.iloc[:4,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,Evaluation of Quality of material on Exterior,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure
0,2003,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,TA,PConc,Gd,TA,No
1,1976,Gable,Standard (Composite) Shingle,Metal Siding,Average/Typical,TA,CBlock,Gd,TA,Gd
2,2001 & 2002,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,TA,PConc,Gd,TA,Mn
3,1915 & 1970,Gable,Standard (Composite) Shingle,Wood Siding & Wood Shingles,Average/Typical,TA,BrkTil,TA,Gd,No

## ExterCond: Evaluates the present condition of the material on the exterior
### Ex = Excellent
### Gd = Good
### TA = Average/Typical
### Fa = Fair
### Po = Poor

In [139]:
house_data['ExterCond'] = house_data['ExterCond'].replace({'Ex':'Excellent','Gd':'Good','TA':'Average/Typical','Fa':'Fair','Po':'Poor'})

In [140]:
house_data['ExterCond'].value_counts()

ExterCond
Average/Typical    1282
Good                146
Fair                 28
Excellent             3
Poor                  1
Name: count, dtype: int64

In [141]:
house_data.rename(columns={'ExterCond':'Evaluation present condition of material on Exterior'},inplace=True)

In [142]:
house_data.iloc[:4,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,Evaluation of Quality of material on Exterior,Evaluation present condition of material on Exterior,Foundation,BsmtQual,BsmtCond,BsmtExposure
0,2003,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,Average/Typical,PConc,Gd,TA,No
1,1976,Gable,Standard (Composite) Shingle,Metal Siding,Average/Typical,Average/Typical,CBlock,Gd,TA,Gd
2,2001 & 2002,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,Average/Typical,PConc,Gd,TA,Mn
3,1915 & 1970,Gable,Standard (Composite) Shingle,Wood Siding & Wood Shingles,Average/Typical,Average/Typical,BrkTil,TA,Gd,No

## Foundation: Type of foundation
### BrkTil = Brick & Tile
###  CBlock =  Cinder Block
### PConc  = Poured Contrete      	
### Slab  = Slab
### Stone = Stone
### Wood = Wood

In [143]:
house_data['Foundation'] = house_data['Foundation'].replace({'BrkTil': 'Brick & Tile','CBlock':'Cinder Block','PConc':'Poured Contrete'})

In [144]:
house_data['Foundation'].value_counts()

Foundation
Poured Contrete    647
Cinder Block       634
Brick & Tile       146
Slab                24
Stone                6
Wood                 3
Name: count, dtype: int64

In [145]:
house_data.rename(columns={'Foundation':'Type of Foundation'},inplace=True)

In [146]:
house_data.iloc[35:40,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,Evaluation of Quality of material on Exterior,Evaluation present condition of material on Exterior,Type of Foundation,BsmtQual,BsmtCond,BsmtExposure
35,2004 & 2005,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,Average/Typical,Poured Contrete,Ex,TA,Av
36,1994 & 1995,Gable,Standard (Composite) Shingle,Vinyl Siding,Average/Typical,Average/Typical,Poured Contrete,Gd,TA,No
37,1954 & 1990,Hip,Standard (Composite) Shingle,Wood Siding,Average/Typical,Average/Typical,Cinder Block,TA,TA,No
38,1953 & 2007,Gable,Standard (Composite) Shingle,Vinyl Siding,Average/Typical,Good,Cinder Block,TA,TA,No
39,1955,Gable,Standard (Composite) Shingle,Asbestos Shingles & Plywood,Average/Typical,Average/Typical,Poured Contrete,No,No,No

## BsmtQual: Evaluates the height of the basement
### Ex = Excellent (100+ inches)       	
### Gd = Good (90-99 inches)
### TA = Typical (80-89 inches)
### Fa = Fair (70-79 inches)
### Po = Poor (<70 inches
### No = No Basement

In [147]:
house_data['BsmtQual'] = house_data['BsmtCond'].replace({'Ex':'Excellent (100+ inches)','Gd':'Good (90-99 inches)','TA':'Typical (80-89 inches)','Fa':'Fair (70-79 inches)','Po':'Poor (<70 inches)','No':'No Basement'})

In [148]:
house_data.rename(columns={'BsmtQual':'Evaluation of hight of basement'},inplace=True)

## Unique Values

In [149]:
house_data['Evaluation of hight of basement'].unique()

array(['Typical (80-89 inches)', 'Good (90-99 inches)', 'No Basement',
       'Fair (70-79 inches)', 'Poor (<70 inches)'], dtype=object)

In [150]:
house_data.iloc[90:93,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,Evaluation of Quality of material on Exterior,Evaluation present condition of material on Exterior,Type of Foundation,Evaluation of hight of basement,BsmtCond,BsmtExposure
90,1950,Gable,Standard (Composite) Shingle,Brick Face & Wood Siding,Average/Typical,Average/Typical,Slab,No Basement,No,No
91,1961,Hip,Standard (Composite) Shingle,Hard Board,Average/Typical,Average/Typical,Cinder Block,Typical (80-89 inches),TA,No
92,1921 & 2006,Gable,Standard (Composite) Shingle,Wood Siding,Average/Typical,Good,Brick & Tile,Typical (80-89 inches),TA,No

## BsmtCond: Evaluate the general condition of the basement
### Ex = Excellent
### Gd = Good
### TA = Typical - slight dampness allowed
### Fa = Fair - dampness or some cracking or settling
### Po = Poor - Severe cracking, settling, or wetness
### No = No Basement

In [151]:
house_data['BsmtCond'] = house_data['BsmtCond'].replace({'Ex':'Excellent','Gd':'Good','TA':'Typical - slight dampness allowed','Fa':'Fair - dampness or some cracking or settling','Po':'Poor - Severe cracking, settling, or wetness','No':'No Basement'})

In [152]:
house_data['BsmtCond'].value_counts()

BsmtCond
Typical - slight dampness allowed               1311
Good                                              65
Fair - dampness or some cracking or settling      45
No Basement                                       37
Poor - Severe cracking, settling, or wetness       2
Name: count, dtype: int64

In [153]:
house_data.rename(columns={'BsmtCond':'Evaluation of condition of Basement'},inplace=True)

In [154]:
house_data.iloc[:4,15:25]

,Original Construction & Remodel Date,Type of Roof,Material used in Roof,Exterior Covering on the House,Evaluation of Quality of material on Exterior,Evaluation present condition of material on Exterior,Type of Foundation,Evaluation of hight of basement,Evaluation of condition of Basement,BsmtExposure
0,2003,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,Average/Typical,Poured Contrete,Typical (80-89 inches),Typical - slight dampness allowed,No
1,1976,Gable,Standard (Composite) Shingle,Metal Siding,Average/Typical,Average/Typical,Cinder Block,Typical (80-89 inches),Typical - slight dampness allowed,Gd
2,2001 & 2002,Gable,Standard (Composite) Shingle,Vinyl Siding,Good,Average/Typical,Poured Contrete,Typical (80-89 inches),Typical - slight dampness allowed,Mn
3,1915 & 1970,Gable,Standard (Composite) Shingle,Wood Siding & Wood Shingles,Average/Typical,Average/Typical,Brick & Tile,Good (90-99 inches),Good,No

## BsmtExposure: Refers to walkout or garden-level walls
### Gd = Good Exposure
### Av = Average Exposure (split levels or foyers typically score average or above)
### Mn = Mimimum Exposure
### No = No Exposure

In [155]:
house_data['BsmtExposure'] = house_data['BsmtExposure'].replace({'Gd':'Good Exposure','Av':'Average Exposure','Mn':'Mimimum Exposure','No':'No Exposure'})

In [156]:
house_data.rename(columns={'BsmtExposure':'Exposure Walkout or garden-level walls'},inplace=True)

## Unique Values

In [157]:
house_data['Exposure Walkout or garden-level walls'].unique()

array(['No Exposure', 'Good Exposure', 'Mimimum Exposure',
       'Average Exposure'], dtype=object)

In [158]:
house_data.iloc[:3,20:40]

,Evaluation present condition of material on Exterior,Type of Foundation,Evaluation of hight of basement,Evaluation of condition of Basement,Exposure Walkout or garden-level walls,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath
0,Average/Typical,Poured Contrete,Typical (80-89 inches),Typical - slight dampness allowed,No Exposure,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1
1,Average/Typical,Cinder Block,Typical (80-89 inches),Typical - slight dampness allowed,Good Exposure,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0
2,Average/Typical,Poured Contrete,Typical (80-89 inches),Typical - slight dampness allowed,Mimimum Exposure,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1

## BsmtFinType1: Rating of basement finished area
### GLQ = Good Living Quarters
### ALQ = Average Living Quarters
### BLQ = Below Average Living Quarters       	
### Rec = Average Rec Room
### LwQ = Low Quality
### Unf = Unfinished
### No = No Basement

In [159]:
house_data['BsmtFinType1'] = house_data['BsmtFinType1'].replace({'GLQ':'Good Living Quarters','ALQ':'Average Living Quarters','BLQ':'Below Average Living Quarters','Rec':'Average Rec Room','LwQ':'Low Quality','Unf':'Unfinished','No':'No Basement'})

In [160]:
house_data.rename(columns={'BsmtFinType1':'Basement Finished area rating'},inplace=True)

In [161]:
house_data['Basement Finished area rating'].value_counts()

Basement Finished area rating
Unfinished                       430
Good Living Quarters             418
Average Living Quarters          220
Below Average Living Quarters    148
Average Rec Room                 133
Low Quality                       74
No Basement                       37
Name: count, dtype: int64

## BsmtFinSF1: Type 1 finished square feet

In [162]:
house_data.rename(columns={'BsmtFinSF1':'Finished square feet area in basement'},inplace=True)

In [163]:
house_data['Finished square feet area in basement'].value_counts()

Finished square feet area in basement
0       467
24       12
16        9
686       5
662       5
       ...
1338      1
1324      1
1460      1
328       1
830       1
Name: count, Length: 637, dtype: int64

In [164]:
house_data.iloc[1456:1460,20:40]

,Evaluation present condition of material on Exterior,Type of Foundation,Evaluation of hight of basement,Evaluation of condition of Basement,Exposure Walkout or garden-level walls,Basement Finished area rating,Finished square feet area in basement,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath
1456,Average/Typical,Cinder Block,Typical (80-89 inches),Typical - slight dampness allowed,No Exposure,Average Living Quarters,790,Rec,163,589,1542,GasA,TA,Y,SBrkr,2073,0,0,2073,1
1457,Good,Stone,Good (90-99 inches),Good,No Exposure,Good Living Quarters,275,Unf,0,877,1152,GasA,Ex,Y,SBrkr,1188,1152,0,2340,0
1458,Average/Typical,Cinder Block,Typical (80-89 inches),Typical - slight dampness allowed,Mimimum Exposure,Good Living Quarters,49,Rec,1029,0,1078,GasA,Gd,Y,FuseA,1078,0,0,1078,1
1459,Average/Typical,Cinder Block,Typical (80-89 inches),Typical - slight dampness allowed,No Exposure,Below Average Living Quarters,830,LwQ,290,136,1256,GasA,Gd,Y,SBrkr,1256,0,0,1256,1

## BsmtFinType2: Rating of basement finished area (if multiple types)
### GLQ = Good Living Quarters
### ALQ = Average Living Quarters
### BLQ = Below Average Living Quarters       	
### Rec = Average Rec Room
### LwQ = Low Quality
### Unf = Unfinished
### No = No Basement

In [165]:
house_data['BsmtFinType2'] = house_data['BsmtFinType2'].replace({'GLQ':'Good Living Quarters','ALQ':'Average Living Quarters','BLQ':'Below Average Living Quarters','Rec':'Average Rec Room','LwQ':'Low Quality','Unf':'Unfinished','No':'No Basement'})

In [166]:
house_data.rename(columns={'BsmtFinType2':'Basement Finished area rating,if multiple types'},inplace=True)

In [167]:
house_data['Basement Finished area rating,if multiple types'].value_counts()

Basement Finished area rating,if multiple types
Unfinished                       1256
Average Rec Room                   54
Low Quality                        46
No Basement                        38
Below Average Living Quarters      33
Average Living Quarters            19
Good Living Quarters               14
Name: count, dtype: int64

## BsmtFinSF2: Type 2 finished square feet

In [168]:
house_data.rename(columns={'BsmtFinSF2':'Finished square feet area in basement,type 2'},inplace=True)

In [169]:
house_data['Finished square feet area in basement,type 2'].value_counts()

Finished square feet area in basement,type 2
0       1293
180        5
374        3
551        2
147        2
        ...
532        1
165        1
1120       1
311        1
1029       1
Name: count, Length: 144, dtype: int64

## BsmtUnfSF: Unfinished square feet of basement area

In [170]:
house_data.rename(columns={'BsmtUnfSF':'Unfinished Basement area in square feet'},inplace=True)

In [171]:
house_data['Unfinished Basement area in square feet'].value_counts()

Unfinished Basement area in square feet
0       118
728       9
384       8
600       7
300       7
       ...
551       1
1257      1
605       1
467       1
136       1
Name: count, Length: 780, dtype: int64

## TotalBsmtSF: Total square feet of basement area

In [172]:
house_data.rename(columns={'TotalBsmtSF':'Total Basement area in square feet'},inplace=True)

In [173]:
house_data['Total Basement area in square feet'].value_counts()

Total Basement area in square feet
0       37
864     35
672     17
912     15
1040    14
        ..
1838     1
1581     1
707      1
611      1
1542     1
Name: count, Length: 721, dtype: int64

In [174]:
house_data.iloc[:3,25:35]

,Basement Finished area rating,Finished square feet area in basement,"Basement Finished area rating,if multiple types","Finished square feet area in basement,type 2",Unfinished Basement area in square feet,Total Basement area in square feet,Heating,HeatingQC,CentralAir,Electrical
0,Good Living Quarters,706,Unfinished,0,150,856,GasA,Ex,Y,SBrkr
1,Average Living Quarters,978,Unfinished,0,284,1262,GasA,Ex,Y,SBrkr
2,Good Living Quarters,486,Unfinished,0,434,920,GasA,Ex,Y,SBrkr

## Heating: Type of heating
### Floor = Floor Furnace
### GasA = Gas forced warm air furnace
### GasW = Gas hot water or steam heat
### Grav = Gravity furnace
### OthW = Hot water or steam heat other than gas
### Wall = Wall furnace

In [175]:
house_data['Heating'] = house_data['Heating'].replace({'Floor':'Floor Furnace','GasA':'Gas forced warm air furnace','GasW':'Gas hot water or steam heat','Grav':'Gravity furnace','OthW':'Hot water or steam heat other than gas','Wall':'Wall furnace'})

In [176]:
house_data.rename(columns={'Heating':'Type of heating'},inplace=True)

In [177]:
house_data['Type of heating'].value_counts()

Type of heating
Gas forced warm air furnace               1428
Gas hot water or steam heat                 18
Gravity furnace                              7
Wall furnace                                 4
Hot water or steam heat other than gas       2
Floor Furnace                                1
Name: count, dtype: int64

In [178]:
house_data.iloc[:3,25:35]

,Basement Finished area rating,Finished square feet area in basement,"Basement Finished area rating,if multiple types","Finished square feet area in basement,type 2",Unfinished Basement area in square feet,Total Basement area in square feet,Type of heating,HeatingQC,CentralAir,Electrical
0,Good Living Quarters,706,Unfinished,0,150,856,Gas forced warm air furnace,Ex,Y,SBrkr
1,Average Living Quarters,978,Unfinished,0,284,1262,Gas forced warm air furnace,Ex,Y,SBrkr
2,Good Living Quarters,486,Unfinished,0,434,920,Gas forced warm air furnace,Ex,Y,SBrkr

## HeatingQC: Heating quality and condition
### Ex = Excellent
### Gd = Good
### TA = Average/Typical
### Fa = Fair
### Po = Poor

In [179]:
house_data['HeatingQC'] = house_data['HeatingQC'].replace({'Ex':'Excellent','Gd':'Good','TA':'Average/Typical','Fa':'Fair','Po':'Poor'})

In [180]:
house_data.rename(columns={'HeatingQC':'Heating Quality and Condition'},inplace=True)

In [181]:
house_data['Heating Quality and Condition'].value_counts()

Heating Quality and Condition
Excellent          741
Average/Typical    428
Good               241
Fair                49
Poor                 1
Name: count, dtype: int64

In [182]:
house_data.iloc[:3,25:35]

,Basement Finished area rating,Finished square feet area in basement,"Basement Finished area rating,if multiple types","Finished square feet area in basement,type 2",Unfinished Basement area in square feet,Total Basement area in square feet,Type of heating,Heating Quality and Condition,CentralAir,Electrical
0,Good Living Quarters,706,Unfinished,0,150,856,Gas forced warm air furnace,Excellent,Y,SBrkr
1,Average Living Quarters,978,Unfinished,0,284,1262,Gas forced warm air furnace,Excellent,Y,SBrkr
2,Good Living Quarters,486,Unfinished,0,434,920,Gas forced warm air furnace,Excellent,Y,SBrkr

## CentralAir: Central air conditioning
### N = No
### Y = Yes

In [183]:
house_data['CentralAir'] = house_data['CentralAir'].replace({'N':'No','Y':'Yes'})

In [184]:
house_data.rename(columns={'CentralAir':'Central Air Conditioning'},inplace=True)

In [185]:
house_data['Central Air Conditioning'].value_counts()

Central Air Conditioning
Yes    1365
No       95
Name: count, dtype: int64

In [186]:
house_data.iloc[:3,25:35]

,Basement Finished area rating,Finished square feet area in basement,"Basement Finished area rating,if multiple types","Finished square feet area in basement,type 2",Unfinished Basement area in square feet,Total Basement area in square feet,Type of heating,Heating Quality and Condition,Central Air Conditioning,Electrical
0,Good Living Quarters,706,Unfinished,0,150,856,Gas forced warm air furnace,Excellent,Yes,SBrkr
1,Average Living Quarters,978,Unfinished,0,284,1262,Gas forced warm air furnace,Excellent,Yes,SBrkr
2,Good Living Quarters,486,Unfinished,0,434,920,Gas forced warm air furnace,Excellent,Yes,SBrkr

## Electrical:     	Electrical system
### SBrkr = Standard Circuit Breakers & Romex
### FuseA = Fuse Box over 60 AMP and all Romex wiring (Average)      	
### FuseF = 60 AMP Fuse Box and mostly Romex wiring (Fair)
### FuseP = 60 AMP Fuse Box and mostly knob & tube wiring (poor)
### Mix = Mixed

In [187]:
house_data['Electrical'] = house_data['Electrical'].replace({'SBrkr':'Standard Circuit Breakers & Romex','FuseA':'Fuse Box over 60 AMP and all Romex wiring (Average)','FuseF':'60 AMP Fuse Box and mostly Romex wiring (Fair)','FuseP':'60 AMP Fuse Box and mostly knob & tube wiring (poor)','Mix':'Mixed'})

In [188]:
house_data.rename(columns={'Electrical':'Electrical System'},inplace=True)

In [189]:
house_data['Electrical System'].value_counts()

Electrical System
Standard Circuit Breakers & Romex                       1334
Fuse Box over 60 AMP and all Romex wiring (Average)       94
60 AMP Fuse Box and mostly Romex wiring (Fair)            27
60 AMP Fuse Box and mostly knob & tube wiring (poor)       3
Mixed                                                      1
Name: count, dtype: int64

## Check null value in this column

In [190]:
house_data[house_data['Electrical System'].isnull()].iloc[:,30:50]

,Total Basement area in square feet,Type of heating,Heating Quality and Condition,Central Air Conditioning,Electrical System,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu
1379,384,Gas forced warm air furnace,Good,Yes,NaN,754,640,0,1394,0,0,2,1,3,1,Gd,7,Typ,0,No

## Replace null value with the most occuring value

In [191]:
house_data['Electrical System'] = house_data['Electrical System'].fillna('Standard Circuit Breakers & Romex')

In [192]:
house_data['Electrical System'].value_counts()

Electrical System
Standard Circuit Breakers & Romex                       1335
Fuse Box over 60 AMP and all Romex wiring (Average)       94
60 AMP Fuse Box and mostly Romex wiring (Fair)            27
60 AMP Fuse Box and mostly knob & tube wiring (poor)       3
Mixed                                                      1
Name: count, dtype: int64

In [193]:
house_data.iloc[:3,30:40]

,Total Basement area in square feet,Type of heating,Heating Quality and Condition,Central Air Conditioning,Electrical System,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath
0,856,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,856,854,0,1710,1
1,1262,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,1262,0,0,1262,0
2,920,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,920,866,0,1786,1

## 1stFlrSF: First Floor square feet

In [194]:
house_data.rename(columns={'1stFlrSF':'Area of 1st Floor in Square Feet'},inplace=True)

In [195]:
house_data['Area of 1st Floor in Square Feet'].value_counts()

Area of 1st Floor in Square Feet
864     25
1040    16
912     14
894     12
848     12
        ..
1509     1
2515     1
605      1
3138     1
1256     1
Name: count, Length: 753, dtype: int64

## 2ndFlrSF: Second-floor square feet

In [196]:
house_data.rename(columns={'2ndFlrSF':'Area of 2nd Floor in Square Feet'},inplace=True)

In [197]:
house_data['Area of 2nd Floor in Square Feet'].value_counts()

Area of 2nd Floor in Square Feet
0       829
728      10
504       9
546       8
672       8
       ...
1538      1
914       1
1067      1
1000      1
1152      1
Name: count, Length: 417, dtype: int64

In [198]:
house_data.iloc[:3,30:40]

,Total Basement area in square feet,Type of heating,Heating Quality and Condition,Central Air Conditioning,Electrical System,Area of 1st Floor in Square Feet,Area of 2nd Floor in Square Feet,LowQualFinSF,GrLivArea,BsmtFullBath
0,856,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,856,854,0,1710,1
1,1262,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,1262,0,0,1262,0
2,920,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,920,866,0,1786,1

## LowQualFinSF: Low-quality finished square feet (all floors)

In [199]:
house_data['LowQualFinSF'].value_counts()

LowQualFinSF
0      1434
80        3
360       2
205       1
479       1
397       1
514       1
120       1
481       1
232       1
53        1
515       1
156       1
473       1
420       1
390       1
371       1
392       1
144       1
572       1
528       1
234       1
513       1
384       1
Name: count, dtype: int64

## In (LowQualFinSF) almost all the values are Zero, so Better to remove this column

### Make a function to remove the values of LowQualFinSF column are from total area as we are deleting this column

In [200]:
def Col_subtract(x,y):
    return y-x

## GrLivArea: Above grade (ground) living area square feet

In [201]:
house_data['GrLivArea'] = house_data.apply(lambda a: Col_subtract(a['LowQualFinSF'],a['GrLivArea']), axis=1)

In [202]:
house_data.iloc[:3,30:40]

,Total Basement area in square feet,Type of heating,Heating Quality and Condition,Central Air Conditioning,Electrical System,Area of 1st Floor in Square Feet,Area of 2nd Floor in Square Feet,LowQualFinSF,GrLivArea,BsmtFullBath
0,856,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,856,854,0,1710,1
1,1262,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,1262,0,0,1262,0
2,920,Gas forced warm air furnace,Excellent,Yes,Standard Circuit Breakers & Romex,920,866,0,1786,1

## Drop LowQualFinSF Column as it is not of use

In [203]:
house_data.drop('LowQualFinSF',axis=1,inplace=True)

In [204]:
house_data.rename(columns={'GrLivArea':'Total living area in square feet'},inplace= True)

In [205]:
house_data.iloc[10:15,35:45]

,Area of 1st Floor in Square Feet,Area of 2nd Floor in Square Feet,Total living area in square feet,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual
10,1040,0,1040,1,0,1,0,3,1,TA
11,1182,1142,2324,1,0,3,0,4,1,Ex
12,912,0,912,1,0,1,0,2,1,TA
13,1494,0,1494,0,0,2,0,3,1,Gd
14,1253,0,1253,1,0,1,1,2,1,TA

## BsmtFullBath: Basement full bathrooms
## BsmtHalfBath: Basement half bathrooms

In [206]:
house_data['BsmtFullBath'].value_counts()

BsmtFullBath
0    856
1    588
2     15
3      1
Name: count, dtype: int64

In [207]:
house_data['BsmtHalfBath'].value_counts()

BsmtHalfBath
0    1378
1      80
2       2
Name: count, dtype: int64

## Both the columns have more than 50% of values zero, So remove both the columns

In [208]:
house_data.drop(['BsmtHalfBath','BsmtFullBath'],axis = 1, inplace=True)

In [209]:
house_data.iloc[:3,36:47]

,Area of 2nd Floor in Square Feet,Total living area in square feet,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu
0,854,1710,2,1,3,1,Gd,8,Typ,0,No
1,0,1262,2,0,3,1,TA,6,Typ,1,TA
2,866,1786,2,1,3,1,Gd,6,Typ,1,TA

## FullBath: Full bathrooms above grade

In [210]:
house_data.rename(columns={'FullBath':'Full Bathrooms'},inplace=True)

In [211]:
house_data['Full Bathrooms'].value_counts()

Full Bathrooms
2    768
1    650
3     33
0      9
Name: count, dtype: int64

## Unique Values

In [212]:
house_data['Full Bathrooms'].unique()

array([2, 1, 3, 0], dtype=int64)

## HalfBath: Half baths above grade

In [213]:
house_data['HalfBath'].value_counts()

HalfBath
0    913
1    535
2     12
Name: count, dtype: int64

In [214]:
house_data.rename(columns={'HalfBath':'Half Bathrooms'},inplace=True)

In [215]:
house_data.iloc[:4,38:48]

,Full Bathrooms,Half Bathrooms,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType
0,2,1,3,1,Gd,8,Typ,0,No,Attchd
1,2,0,3,1,TA,6,Typ,1,TA,Attchd
2,2,1,3,1,Gd,6,Typ,1,TA,Attchd
3,1,0,3,1,Gd,7,Typ,1,Gd,Detchd

## BedroomAbvGr: Bedrooms above grade (does NOT include basement bedrooms)

In [216]:
house_data.rename(columns={'BedroomAbvGr':'Bedrooms(Excluded Basement Bedrooms)'}, inplace=True)

In [217]:
house_data['Bedrooms(Excluded Basement Bedrooms)'].value_counts()

Bedrooms(Excluded Basement Bedrooms)
3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: count, dtype: int64

## KitchenAbvGr: Kitchens above grade

In [218]:
house_data.rename(columns={'KitchenAbvGr':'Kitchens'},inplace=True)

In [219]:
house_data['Kitchens'].value_counts()

Kitchens
1    1392
2      65
3       2
0       1
Name: count, dtype: int64

In [220]:
house_data.iloc[:4,38:48]

,Full Bathrooms,Half Bathrooms,Bedrooms(Excluded Basement Bedrooms),Kitchens,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType
0,2,1,3,1,Gd,8,Typ,0,No,Attchd
1,2,0,3,1,TA,6,Typ,1,TA,Attchd
2,2,1,3,1,Gd,6,Typ,1,TA,Attchd
3,1,0,3,1,Gd,7,Typ,1,Gd,Detchd

## KitchenQual: Kitchen Quality
### Ex = Excellent
### Gd = Good
### TA = Typical/Average
### Fa = Fair
### Po = Poor

In [221]:
house_data['KitchenQual'] = house_data['KitchenQual'].replace({'Ex':'Excellent','Gd':'Good','TA':'Average/Typical','Fa':'Fair','Po':'Poor'})

In [222]:
house_data.rename(columns={'KitchenQual':'Kitchen Quality'},inplace=True)

In [223]:
house_data['Kitchen Quality'].value_counts()

Kitchen Quality
Average/Typical    735
Good               586
Excellent          100
Fair                39
Name: count, dtype: int64

In [224]:
house_data.iloc[:3,40:50]

,Bedrooms(Excluded Basement Bedrooms),Kitchens,Kitchen Quality,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish
0,3,1,Good,8,Typ,0,No,Attchd,2003.0,RFn
1,3,1,Average/Typical,6,Typ,1,TA,Attchd,1976.0,RFn
2,3,1,Good,6,Typ,1,TA,Attchd,2001.0,RFn

## TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)

In [225]:
house_data.rename(columns={'TotRmsAbvGrd':'Total Rooms(Excluded Bathrooms)'},inplace=True)

In [226]:
house_data['Total Rooms(Excluded Bathrooms)'].value_counts()

Total Rooms(Excluded Bathrooms)
6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
2       1
14      1
Name: count, dtype: int64

In [227]:
house_data.shape

(1460, 70)

In [228]:
house_data.iloc[:3,40:50]

,Bedrooms(Excluded Basement Bedrooms),Kitchens,Kitchen Quality,Total Rooms(Excluded Bathrooms),Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish
0,3,1,Good,8,Typ,0,No,Attchd,2003.0,RFn
1,3,1,Average/Typical,6,Typ,1,TA,Attchd,1976.0,RFn
2,3,1,Good,6,Typ,1,TA,Attchd,2001.0,RFn

## Functional: Home functionality (Assume typical unless deductions are warranted)
### Typ	= Typical Functionality
### Min1 = Minor Deductions 1
### Min2 = Minor Deductions 2
### Mod = Moderate Deductions
### Maj1 = Major Deductions 1
### Maj2 = Major Deductions 2
### Sev = Severely Damaged
### Sal	= Salvage only

In [229]:
house_data['Functional'].value_counts()

Functional
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: count, dtype: int64

## Remove (Functional column as 90% of its values are same so it is useless)

In [230]:
house_data.drop('Functional',axis=1,inplace=True)

In [231]:
house_data.iloc[:2,40:50]

,Bedrooms(Excluded Basement Bedrooms),Kitchens,Kitchen Quality,Total Rooms(Excluded Bathrooms),Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars
0,3,1,Good,8,0,No,Attchd,2003.0,RFn,2
1,3,1,Average/Typical,6,1,TA,Attchd,1976.0,RFn,2

## Fireplaces: Number of fireplaces

In [232]:
house_data.rename(columns={'Fireplaces':'Number of Fireplaces'},inplace=True)

In [233]:
house_data['Number of Fireplaces'].value_counts()

Number of Fireplaces
0    690
1    650
2    115
3      5
Name: count, dtype: int64

## FireplaceQu: Fireplace quality
### Ex = Excellent - Exceptional Masonry Fireplace
### Gd = Good - Masonry Fireplace on the main level
### TA = Average - Prefabricated Fireplace in the main living area or Masonry Fireplace in the basement
### Fa = Fair - Prefabricated Fireplace in the basement
### Po = Poor - Ben Franklin Stove
### No = No Fireplace

In [234]:
house_data['FireplaceQu'] = house_data['FireplaceQu'].replace({'Ex':'Excellent - Exceptional Masonry Fireplace','Gd':'Good - Masonry Fireplace on the main level','TA':'Average - Prefabricated Fireplace in the main living area or Masonry Fireplace in the basement','Fa':'Fair - Prefabricated Fireplace in the basement','Po':'Poor - Ben Franklin Stove','No':'No Fireplace'})

In [235]:
house_data['FireplaceQu'].value_counts()

FireplaceQu
No Fireplace                                                                                      690
Good - Masonry Fireplace on the main level                                                        380
Average - Prefabricated Fireplace in the main living area or Masonry Fireplace in the basement    313
Fair - Prefabricated Fireplace in the basement                                                     33
Excellent - Exceptional Masonry Fireplace                                                          24
Poor - Ben Franklin Stove                                                                          20
Name: count, dtype: int64

In [236]:
house_data.rename(columns={'FireplaceQu':'Fireplace Quality'},inplace=True)

In [237]:
house_data.iloc[:3,40:50]

,Bedrooms(Excluded Basement Bedrooms),Kitchens,Kitchen Quality,Total Rooms(Excluded Bathrooms),Number of Fireplaces,Fireplace Quality,GarageType,GarageYrBlt,GarageFinish,GarageCars
0,3,1,Good,8,0,No Fireplace,Attchd,2003.0,RFn,2
1,3,1,Average/Typical,6,1,Average - Prefabricated Fireplace in the main ...,Attchd,1976.0,RFn,2
2,3,1,Good,6,1,Average - Prefabricated Fireplace in the main ...,Attchd,2001.0,RFn,2

## GarageType: Garage location
### 2Types = More than one type of garage
### Attchd = Attached to the home
### Basment = Basement Garage
### BuiltIn = Built-In (Garage part of the house - typically has room above the garage)
### CarPort = Car Port
### Detchd = Detached from home
### No = No Garage

In [238]:
house_data['GarageType'] = house_data['GarageType'].replace({'2Types':'More than one type of garage','Attchd':'Attached to the home','Basment':'Basement Garage','BuiltIn':'Built-In (Garage part of the house - typically has room above the garage)','CarPort':'Car Port','Detchd':'Detached from home','No':'No Garage'})

In [239]:
house_data.rename(columns={'GarageType':'Garage location'},inplace=True)

## Unique Values

In [240]:
house_data['Garage location'].unique()

array(['Attached to the home', 'Detached from home',
       'Built-In (Garage part of the house - typically has room above the garage)',
       'Car Port', 'No Garage', 'Basement Garage',
       'More than one type of garage'], dtype=object)

## GarageYrBlt: The year garage was built

In [241]:
house_data.rename(columns={'GarageYrBlt':'The Year of Garage Built'},inplace=True)

In [242]:
house_data['The Year of Garage Built'].isnull().sum()

81

In [243]:
house_data_without_garage= house_data[house_data['The Year of Garage Built'].isnull()]

In [244]:
# We will work on NaN values later as per requirement
house_data_without_garage.iloc[:4,40:50]

,Bedrooms(Excluded Basement Bedrooms),Kitchens,Kitchen Quality,Total Rooms(Excluded Bathrooms),Number of Fireplaces,Fireplace Quality,Garage location,The Year of Garage Built,GarageFinish,GarageCars
39,2,2,Fair,6,0,No Fireplace,No Garage,NaN,No,0
48,2,3,Average/Typical,8,0,No Fireplace,No Garage,NaN,No,0
78,4,2,Average/Typical,8,0,No Fireplace,No Garage,NaN,No,0
88,2,1,Fair,6,0,No Fireplace,No Garage,NaN,No,0

## GarageFinish: Interior finish of the garage
### Fin = Finished
### RFn = Rough Finished       	
### Unf	= Unfinished
### No = No Garage

In [245]:
house_data['GarageFinish'] = house_data['GarageFinish'].replace({'Fin':'Finished','RFn':'Rough Finished','Unf':'Unfinished','No':'No Garage'})

In [246]:
house_data.rename(columns={'GarageFinish':'Interior finish of the garage'},inplace=True)

In [247]:
len(house_data[house_data['Interior finish of the garage'] == 'No Garage'])

81

In [248]:
house_data['Interior finish of the garage'].value_counts()

Interior finish of the garage
Unfinished        605
Rough Finished    422
Finished          352
No Garage          81
Name: count, dtype: int64

## GarageCars: Size of garage in car capacity

In [249]:
house_data['GarageCars'].value_counts()

GarageCars
2    824
1    369
3    181
0     81
4      5
Name: count, dtype: int64

In [250]:
house_data.rename(columns={'GarageCars':'Car Parking capacity in Garage'},inplace=True)

In [251]:
house_data.iloc[2:5,45:66]

,Fireplace Quality,Garage location,The Year of Garage Built,Interior finish of the garage,Car Parking capacity in Garage,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold
2,Average - Prefabricated Fireplace in the main ...,Attached to the home,2001.0,Rough Finished,2,608,TA,TA,Y,0,...,0,0,0,0,No,No,No,0,Sep,2008
3,Good - Masonry Fireplace on the main level,Detached from home,1998.0,Unfinished,3,642,TA,TA,Y,0,...,272,0,0,0,No,No,No,0,Feb,2006
4,Average - Prefabricated Fireplace in the main ...,Attached to the home,2000.0,Rough Finished,3,836,TA,TA,Y,192,...,0,0,0,0,No,No,No,0,Dec,2008

## GarageArea: Size of garage in square feet

In [252]:
house_data.rename(columns={'GarageArea':'Size of garage in square feet'},inplace=True)

In [253]:
len(house_data[house_data['Size of garage in square feet'] == 0])

81

## Unique Values

In [254]:
house_data['Size of garage in square feet'].unique()

array([ 548,  460,  608,  642,  836,  480,  636,  484,  468,  205,  384,
        736,  352,  840,  576,  516,  294,  853,  280,  534,  572,  270,
        890,  772,  319,  240,  250,  271,  447,  556,  691,  672,  498,
        246,    0,  440,  308,  504,  300,  670,  826,  386,  388,  528,
        894,  565,  641,  288,  645,  852,  558,  220,  667,  360,  427,
        490,  379,  297,  283,  509,  405,  758,  461,  400,  462,  420,
        432,  506,  684,  472,  366,  476,  410,  740,  648,  273,  546,
        325,  792,  450,  180,  430,  594,  390,  540,  264,  530,  435,
        453,  750,  487,  624,  471,  318,  766,  660,  470,  720,  577,
        380,  434,  866,  495,  564,  312,  625,  680,  678,  726,  532,
        216,  303,  789,  511,  616,  521,  451, 1166,  252,  497,  682,
        666,  786,  795,  856,  473,  398,  500,  349,  454,  644,  299,
        210,  431,  438,  675,  968,  721,  336,  810,  494,  457,  818,
        463,  604,  389,  538,  520,  309,  429,  673,  884,  868,  492,
        413,  924, 1053,  439,  671,  338,  573,  732,  505,  575,  626,
        898,  529,  685,  281,  539,  418,  588,  282,  375,  683,  843,
        552,  870,  888,  746,  708,  513, 1025,  656,  872,  292,  441,
        189,  880,  676,  301,  474,  706,  617,  445,  200,  592,  566,
        514,  296,  244,  610,  834,  639,  501,  846,  560,  596,  600,
        373,  947,  350,  396,  864,  304,  784,  696,  569,  628,  550,
        493,  578,  198,  422,  228,  526,  525,  908,  499,  508,  694,
        874,  164,  402,  515,  286,  603,  900,  583,  889,  858,  502,
        392,  403,  527,  765,  367,  426,  615,  871,  570,  406,  590,
        612,  650, 1390,  275,  452,  842,  816,  621,  544,  486,  230,
        261,  531,  393,  774,  749,  364,  627,  260,  256,  478,  442,
        562,  512,  839,  330,  711, 1134,  416,  779,  702,  567,  832,
        326,  551,  606,  739,  408,  475,  704,  983,  768,  632,  541,
        320,  800,  831,  554,  878,  752,  614,  481,  496,  423,  841,
        895,  412,  865,  630,  605,  602,  618,  444,  397,  455,  409,
        820, 1020,  598,  857,  595,  433,  776, 1220,  458,  613,  456,
        436,  812,  686,  611,  425,  343,  479,  619,  902,  574,  523,
        414,  738,  354,  483,  327,  756,  690,  284,  833,  601,  533,
        522,  788,  555,  689,  796,  808,  510,  255,  424,  305,  368,
        824,  328,  160,  437,  665,  290,  912,  905,  542,  716,  586,
        467,  582, 1248, 1043,  254,  712,  719,  862,  928,  782,  466,
        714, 1052,  225,  234,  324,  306,  830,  807,  358,  186,  693,
        482,  813,  995,  757, 1356,  459,  701,  322,  315,  668,  404,
        543,  954,  850,  477,  276,  518, 1014,  753, 1418,  213,  844,
        860,  748,  248,  287,  825,  647,  342,  770,  663,  377,  804,
        936,  722,  208,  662,  754,  622,  620,  370, 1069,  372,  923,
        192], dtype=int64)

## GarageQual: Garage quality
### Ex = Excellent
### Gd = Good
### TA = Typical/Average
### Fa = Fair
### Po = Poor
### No = No Garage

In [255]:
house_data['GarageQual'] = house_data['GarageQual'].replace({'Ex':'Excellent','Gd':'Good','TA':'Typical/Average','Fa':'Fair','Po':'Poor','No':'No Garage'})

In [256]:
house_data.rename(columns={'GarageQual':'Garage quality'},inplace=True)

## GarageCond: Garage condition
### Ex = Excellent
### Gd = Good
### TA = Typical/Average
### Fa = Fair
### Po = Poor
### No = No Garage

In [257]:
house_data['GarageCond'] = house_data['GarageCond'].replace({'Ex':'Excellent','Gd':'Good','TA':'Typical/Average','Fa':'Fair','Po':'Poor','No':'No Garage'})

In [258]:
house_data.rename(columns={'GarageCond':'Garage condition'},inplace=True)

In [259]:
house_data['Garage condition'].value_counts()

Garage condition
Typical/Average    1326
No Garage            81
Fair                 35
Good                  9
Poor                  7
Excellent             2
Name: count, dtype: int64

In [260]:
house_data.iloc[:3,50:60]

,Size of garage in square feet,Garage quality,Garage condition,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea
0,548,Typical/Average,Typical/Average,Y,0,61,0,0,0,0
1,460,Typical/Average,Typical/Average,Y,298,0,0,0,0,0
2,608,Typical/Average,Typical/Average,Y,0,42,0,0,0,0

## PavedDrive: Paved driveway
### Y = Paved
### P = Partial Pavement
### N = Dirt/Gravel

In [263]:
house_data['PavedDrive'] = house_data['PavedDrive'].replace({'Y':'Paved','P':'Partial Pavement','N':'Dirt/Gravel'})

In [264]:
house_data['PavedDrive'].value_counts()

PavedDrive
Paved               1340
Dirt/Gravel           90
Partial Pavement      30
Name: count, dtype: int64

## WoodDeckSF: Wood deck area in square feet

In [265]:
house_data.rename(columns={'WoodDeckSF':'Wood deck area in square feet'},inplace = True)

In [266]:
house_data['Wood deck area in square feet'].value_counts()

Wood deck area in square feet
0      761
192     38
100     36
144     33
120     31
      ...
326      1
179      1
103      1
176      1
736      1
Name: count, Length: 274, dtype: int64

## OpenPorchSF: Open porch area in square feet

In [267]:
house_data.rename(columns={'OpenPorchSF':'Open porch area in square feet'},inplace = True)

In [268]:
house_data['Open porch area in square feet'].value_counts()

Open porch area in square feet
0      656
36      29
48      22
20      21
40      19
      ...
11       1
523      1
125      1
137      1
236      1
Name: count, Length: 202, dtype: int64

## EnclosedPorch:  Enclosed porch area in square feet

In [269]:
house_data.rename(columns={'EnclosedPorch':'Enclosed porch area in square feet'},inplace = True)

In [270]:
house_data['Enclosed porch area in square feet'].value_counts()

Enclosed porch area in square feet
0      1252
112      15
96        6
192       5
144       5
       ...
54        1
136       1
148       1
140       1
99        1
Name: count, Length: 120, dtype: int64

## 3SsnPorch: Three-season porch area in square feet

In [271]:
house_data.rename(columns={'3SsnPorch':'Three-season porch area in square feet'},inplace = True)

In [272]:
house_data['Three-season porch area in square feet'].value_counts()

Three-season porch area in square feet
0      1436
168       3
144       2
180       2
216       2
290       1
153       1
96        1
23        1
162       1
182       1
196       1
320       1
245       1
238       1
508       1
140       1
130       1
407       1
304       1
Name: count, dtype: int64

## ScreenPorch: Screen porch area in square feet

In [273]:
house_data.rename(columns={'ScreenPorch':'Screen porch area in square feet'},inplace = True)

In [274]:
house_data['Screen porch area in square feet'].value_counts()

Screen porch area in square feet
0      1344
192       6
120       5
224       5
189       4
       ...
291       1
260       1
385       1
156       1
40        1
Name: count, Length: 76, dtype: int64

## PoolArea: Pool area in square feet

In [275]:
house_data.rename(columns={'PoolArea':'Pool area in square feet'},inplace = True)

In [277]:
house_data['Pool area in square feet'].value_counts()

Pool area in square feet
0      1453
512       1
648       1
576       1
555       1
480       1
519       1
738       1
Name: count, dtype: int64

In [285]:
house_data.iloc[:3,60:69]

,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,No,No,No,0,Feb,2008,WD,Normal,208500
1,No,No,No,0,May,2007,WD,Normal,181500
2,No,No,No,0,Sep,2008,WD,Normal,223500

## PoolQC: Pool quality
### Ex = Excellent
### Gd = Good
### TA = Typical/Average
### Fa = Fair
### No = No Pool

In [286]:
house_data['PoolQC'] = house_data['PoolQC'].replace({'Ex':'Excellent','Gd':'Good','TA':'Typical/Average','Fa':'Fair','No':'No Pool'})

In [288]:
house_data.rename(columns={'PoolQC':'Pool Quality'},inplace=True)

In [289]:
house_data['Pool Quality'].value_counts()

Pool Quality
No Pool      1453
Good            3
Excellent       2
Fair            2
Name: count, dtype: int64

## Fence: Fence Quality
### GdPrv = Good Privacy
### MnPrv = Minimum Privacy
### GdWo = Good Wood
### MnWw = Minimum Wood/Wire
### No = No Fence

In [290]:
house_data['Fence'] = house_data['Fence'].replace({'GdPrv':'Good Privacy','MnPrv':'Minimum Privacy','GdWo':'Good Wood','MnWw':'Minimum Wood/Wire','No':'No Fence'})

In [291]:
house_data.rename(columns={'Fence':'Fence Quality'},inplace=True)

In [292]:
house_data['Fence Quality'].value_counts()

Fence Quality
No Fence             1179
Minimum Privacy       157
Good Privacy           59
Good Wood              54
Minimum Wood/Wire      11
Name: count, dtype: int64